@using RpgMenager.Application.DtosAndFactories.Statistic.Commands.Create
@using RpgMenager.Mvc.Models
@model RpgMenager.Application.DtosAndFactories.Character.Commands.Edit.EditCharacterCommand
@{
    
}
<h4>EditCharacterCommand</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" enctype="multipart/form-data">
            

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Lastname" class="control-label"></label>
                <input asp-for="Lastname" class="form-control" />
                <span asp-validation-for="Lastname" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Hp" class="control-label"></label>
                <input asp-for="Hp" class="form-control" />
                <span asp-validation-for="Hp" class="text-danger"></span>
            </div>
            <div class="form-group" id="attitudeToAnotherCharacterGroup" style="display:none;">
                <label asp-for="AttitudeToAnotherCharacter" class="control-label"></label>
                <input asp-for="AttitudeToAnotherCharacter" class="form-control" />
                <span asp-validation-for="AttitudeToAnotherCharacter" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            @* tego nie bedzie widać *@
            <input asp-for="Id" type="hidden" value="@Model.Id" />
            <!-- Zdjecie -->
            @await Html.PartialAsync("_ImageUpload", Model.PathToImage)
            <input type="hidden" asp-for="PathToImage" />

            
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
            <input type="hidden" asp-for="TypeOfCharacter" />
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
    @* <partial name="_CreateStatistic" model="new CreateStatisticCommand() {  }" /> *@
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

    
}
