@using RpgMenager.Application.DtosAnd.Statistic.Commands.Create
@model RpgMenager.Application.DtosAnd.Character.Commands.Edit.EditCharacterCommand

<h4>EditCharacterCommand</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Hp" class="control-label"></label>
                <input asp-for="Hp" class="form-control" />
                <span asp-validation-for="Hp" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Lastname" class="control-label"></label>
                <input asp-for="Lastname" class="form-control" />
                <span asp-validation-for="Lastname" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TypeOfCharacter" class="control-label"></label>
                <input asp-for="TypeOfCharacter" class="form-control" />
                <span asp-validation-for="TypeOfCharacter" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PlayerId" class="control-label"></label>
                <input asp-for="PlayerId" class="form-control" />
                <span asp-validation-for="PlayerId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AttitudeToAnotherCharacter" class="control-label"></label>
                <input asp-for="AttitudeToAnotherCharacter" class="form-control" />
                <span asp-validation-for="AttitudeToAnotherCharacter" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Id" class="control-label"></label>
                <input asp-for="Id" class="form-control" />
                <span asp-validation-for="Id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EncodedName" class="control-label"></label>
                <input asp-for="EncodedName" class="form-control" />
                <span asp-validation-for="EncodedName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PathToImage" class="control-label"></label>
                <input asp-for="PathToImage" class="form-control" />
                <span asp-validation-for="PathToImage" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
    <partial name="_CreateStatistic" model="new CreateStatisticCommand() { CharacterId = Model.Id }" />
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
