
@{
    ViewData["Title"] = "Lista postaci";
}

<h1>Lista postaci</h1>
<div class="row">
    @foreach (var item in Model)
    {
        <div class="card m-3" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">@item.Name</h5>
                <h6 class="card-subtitle mb-2 text-muted">@item.Lastname</h6>
                <p class="card-text">@item.Description</p>
                <p class="card-text">HP: @item.Hp</p>

            </div>
        </div>
    }
</div>
