html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}
#npcAttitudeSection select {
    color: black; /* Kolor tekstu tylko dla tego elementu */
    background-color: white; /* Kolor t³a tylko dla tego elementu */
}

#npcAttitudeSection option {
    color: black; /* Kolor tekstu dla opcji */
    background-color: white; /* Kolor t³a dla opcji */
}

